@CHARSET "UTF-8";

@import "main.css";

/* entypo */
* {
	box-sizing: border-box;
}

#insert-form {
	margin-top:-50px;
	width: 350px;
	padding: 40px 30px;
	border-radius: 5px;
}

input[type="submit"],input[type="button"] {
	font-family: mainFont;
	height: 30px;
	border: none;
	background: #3498db;
	color: #ecf0f1;
	font-weight: 100;
	margin-top: 15px;
	margin-bottom: 15px;
	width: 300px;
	border-radius: 5px;
	transition: all ease-in-out .2s;
	border-bottom: 3px solid #2980b9;
	margin-bottom: 15px;
}

input {
	width: 100%;
	background: #bdc3c7;
	border: none;
	height: 30px;
	margin-bottom: 15px;
	border-radius: 5px;
	text-align: center;
	font-size: 14px;
	color: #7f8c8d;
}

input:focus {
	outline: none;
}



td {
	padding: 5px;
}

td:FIRST-CHILD {
	width: 200px;
	text-align: center;
}

td:last-child {
	width: 300px;
}

td input[type="text"] {
	margin-bottom: 3px;
}

input[type="submit"] {
	background: #13bd5c;
	border-bottom: 3px solid #119c4b;
}

input[type="submit"]:ACTIVE,input[type="button"]:ACTIVE {
	outline: none;
}

input[type="button"]:hover {
	background: #2980b9;
}

input[type="submit"]:hover {
	background: #119c4b;
}

.toggler {
	background: #f5f5f5;
	color: #A1A1A4;
	font-size: 1.25em;
	margin-left: 8px;
	text-align: center;
	cursor: pointer;
	background: #f5f5f5;
}

.toggler.active {
	color: #000;
}

.surveys {
	border-radius: 10px;
	width: 600px;
	background: #ecf0f1;
	list-style: none;
	margin: 0;
	padding: 0;
	width: 600px;
}

.survey-item {
	display: block;
	margin-top: 10px;
	padding: 20px;
	border-radius: 2px;
	background: white;
	box-shadow: 0 2px 1px rgba(170, 170, 170, 0.25);
}

.survey-name {
	font-weight: 400;
}

.list .survey-item {
	position: relative;
	padding: 0;
	font-size: 14px;
	line-height: 40px;
}

.list .survey-item .pull-right {
	position: absolute;
	right: 0;
	top: 0;
}

@media screen and (max-width: 800px) {
	.list
	
	
	
	
	
	
	
	 
	
	
	
	
	
	
	
	.survey-item
	
	
	
	
	
	
	
	 
	
	
	
	
	
	
	
	.stage
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	:not
	
	
	
	
	
	
	
	 
	
	
	
	
	
	
	
	(
	.active
	
	
	
	
	
	
	
	 
	
	
	
	
	
	
	
	)
	{
	display
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	:
	
	
	
	
	
	
	
	 
	
	
	
	
	
	
	
	none
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	;
}

}
@media screen and (max-width: 700px) {
	.list .survey-item .survey-progress-bg {
		display: none;
	}
}

@media screen and (max-width: 600px) {
	.list .survey-item .pull-right {
		position: static;
		line-height: 20px;
		padding-bottom: 10px;
	}
}

.list .survey-country,.list .survey-progress,.list .survey-completes,.list .survey-end-date
	{
	color: #A1A1A4;
}

.list .survey-country,.list .survey-completes,.list .survey-end-date,.list .survey-name,.list .survey-stage
	{
	margin: 0 10px;
}

.list .survey-country {
	margin-right: 0;
}

.list .survey-end-date,.list .survey-completes,.list .survey-country,.list .survey-name
	{
	vertical-align: middle;
}

.list .survey-end-date {
	display: inline-block;
	width: 100px;
	white-space: nowrap;
	overflow: hidden;
}

.survey-stage .stage {
	display: inline-block;
	vertical-align: middle;
	width: 16px;
	height: 16px;
	overflow: hidden;
	border-radius: 50%;
	padding: 0;
	margin: 0 2px;
	background: #f2f2f2;
	text-indent: -9999px;
	color: transparent;
	line-height: 16px;
}

.survey-stage .stage.active {
	background: #A1A1A4;
}

.list .list-only {
	display: auto;
}

.list .grid-only {
	display: none !important;
}

.grid .grid-only {
	display: auto;
}

.grid .list-only {
	display: none !important;
}

.grid .survey-item {
	position: relative;
	display: inline-block;
	vertical-align: top;
	height: 200px;
	width: 250px;
	margin: 10px;
}

@media screen and (max-width: 600px) {
	.grid .survey-item {
		display: block;
		width: auto;
		height: 150px;
		margin: 10px auto;
	}
}

.grid .survey-name {
	display: block;
	max-width: 80%;
	font-size: 16px;
	line-height: 20px;
}

.grid .survey-country {
	font-size: 11px;
	line-height: 16px;
	text-transform: uppercase;
}

.grid .survey-country,.grid .survey-end-date {
	color: #A1A1A4;
}

.grid .survey-end-date:before {
	content: 'Ends\00a0';
}

.grid .survey-end-date.ended:before {
	content: 'Ended\00a0';
}

.grid .survey-progress {
	display: block;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	padding: 20px;
	border-top: 1px solid #eee;
	font-size: 13px;
}

.grid .survey-progress-bg {
	width: 40%;
	display: block;
}

@media screen and (max-width: 200px) {
	.grid .survey-progress-bg {
		display: none;
	}
}

.grid .survey-progress-labels {
	position: absolute;
	right: 20px;
	top: 0;
	line-height: 40px;
}

@media screen and (max-width: 200px) {
	.grid .survey-progress-labels {
		right: auto;
		left: 10px;
	}
}

.grid .survey-progress-label {
	line-height: 21px;
	font-size: 13px;
	font-weight: 400;
}

.grid .survey-completes {
	line-height: 21px;
	font-size: 13px;
	vertical-align: middle;
}

.grid .survey-stage {
	position: absolute;
	top: 20px;
	right: 20px;
}

.grid .survey-stage .stage {
	display: none;
}

.grid .survey-stage .active {
	display: block;
}

.grid .survey-end-date {
	font-size: 12px;
	line-height: 20px;
}

.survey-progress-label {
	vertical-align: middle;
	margin: 0 10px;
	color: #8DC63F;
}

.survey-progress-bg {
	display: inline-block;
	vertical-align: middle;
	position: relative;
	width: 100px;
	height: 4px;
	border-radius: 2px;
	overflow: hidden;
	background: #eee;
}

.survey-progress-fg {
	position: absolute;
	top: 0;
	bottom: 0;
	height: 100%;
	left: 0;
	margin: 0;
	background: #8DC63F;
}
