@CHARSET "UTF-8";

@import "main.css";

#supportingText {
	margin-top: -240px;
}

#login-form {
	width: 275px;
	margin-left: 20px;
	background: #eeeeee;
	padding: 40px 30px;
	margin-top: 300px;
	text-align: center;
	border-radius: 5px;
}

#join-form {
	margin-left: 20px;
	margin-top: 300px;
	width: 275px;
	background: #eeeeee;
	padding: 40px 30px;
	border-radius: 5px;
}

#logo {
	display: block;
	position: absolute;
	margin-top: -35px;
	margin-left: 195px;
	height: 80px;
	width: 80px;
	border-radius: 50%;
	box-shadow: 1px 1px 2px rgba(0, 0, 0, 1);
	height: 80px;
}

input {
	width: 100%;
	background: #bdc3c7;
	border: none;
	height: 30px;
	margin-bottom: 15px;
	border-radius: 5px;
	text-align: center;
	font-size: 14px;
	color: #7f8c8d;
}

input:focus {
	outline: none;
}

input[type="submit"],input[type="button"] {
	font-family: mainFont;
	width: 100%;
	height: 30px;
	border: none;
	background: #3498db;
	color: #ecf0f1;
	font-weight: 100;
	margin-bottom: 15px;
	border-radius: 5px;
	transition: all ease-in-out .2s;
	border-bottom: 3px solid #2980b9;
	width: 100%;
}

input[type="submit"] {
	background: #13bd5c;
	border-bottom: 3px solid #119c4b;
}

input[type="submit"]:ACTIVE,input[type="button"]:ACTIVE {
	outline: none;
}

input[type="button"]:hover {
	background: #2980b9;
}

input[type="submit"]:hover {
	background: #119c4b;
}

h2 {
	font-size: 24px;
	font-weight: 100;
	margin-bottom: 30px;
}

td {
	padding: 5px;
}

td:FIRST-CHILD {
	width: 60px;
	text-align: center;
}

td input[type="text"] {
	margin-bottom: 3px;
}